<section>
    <form class="container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input type="email" matInput placeholder="example@example.com" formControlName="email">
            <mat-error *ngIf="loginForm.value.email == ''">Field must not be empty</mat-error>
            <mat-error *ngIf="loginForm.value.email != ''">Invalid e-mail format</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Should be as least 6 characters long">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="******" formControlName="password">
            <mat-hint align="end">{{loginForm.value.password.length}} / 6</mat-hint>
            <mat-error *ngIf="loginForm.value.password == ''">Field must not be empty</mat-error>
        </mat-form-field>
        <button class="submitButton" [disabled]="loginForm.invalid" type="submit" mat-raised-button color="primary">Login</button>
    </form>
</section>